
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none !important;
       font-family:"Roboto";
}

.show-mobile.hidden-lg.hidden-md {}

button.close {}

div#popup_275203 {
    position: absolute;
    top: 65%;
}

.modal-content {
    position: fixed;
    width: 100%;
}

div {
}

.modal-header {
    background: #;
    background: #345d97;
    color: white;
}

.nen {
    opacity: 0;
    background: #cccccc8a;
    position: absolute;
    top: 0;
    left: 0;
    width: 66%;
    height: 90%;
    z-index: 1;
    visibility: hidden;
    transition: 0.4s;
    transform: scale(0);
}

.nen.nen-them {
    /* position: fixed; */
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.item-show-mobile {
    width: 560px;
    height: 120px;
    overflow-y: scroll;
}

.pm-desc {
    /* width: 560px; */
    height: 120px;
    /* overflow-y: scroll; */
}

div#popup_275515 {
    /* position: relative; */
}

.cover {
    /* line-height: 19px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.cover {
    width: 92%;
}

span.mau3 {
    color: #8BC34A;
}

span.mau2 {
    color: red;
}

span.mau1 {
    color: #9e9a9a;
}
img
{
    image-orientation: from-image;
}
.row.bd-hide {
    margin-top: 5px;
    display: none;
}
.modal-body {
    position: relative;
    padding: 15px;
    white-space: initial;
}
small.bd-show {cursor: pointer;}

small.bd-show:hover {
    color: #607D8B;
}

.form-group.cot, .form-group.hai {
    width: 48%;
    float: left;
    display: flex;
    flex-direction: column-reverse;
}

.form-group.cot {
    margin-right: 8px;
}
@font-face {
    font-family:"Roboto";
    src:url("fonts/Roboto-Black.ttf")format("truetype"),
    url("fonts/Roboto-Bold.ttf")format("truetype"),
    url("fonts/Roboto-Italic.ttf")format("truetype"),
    url("fonts/Roboto-Light.ttf")format("truetype"),
    url("fonts/Roboto-Medium.ttf")format("truetype"),
    url("fonts/Roboto-Regular.ttf")format("truetype"),
    url("fonts/Roboto-Thin.ttf")format("truetype"),
    url("fonts/Roboto-BlackItalic.ttf")format("truetype"),
    url("fonts/Roboto-LightItalic.ttf")format("truetype"),
    url("fonts/Roboto-MediumItalic.ttf")format("truetype"),
    url("fonts/Roboto-ThinItalic.ttf")format("truetype")
    ;

}
body{
    font-family: 'Roboto',FontAwesome, sans-serif;
    font-size: 14px;
    color: #333;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    color: #333;
    transition: all 0.3s;
}
a,a:hover{
    text-decoration: none;
}
a:hover{
    color: #0291d6;
}
ul{
    margin: 0;
    list-style: none;
}


/* ============================== Menu =============================== */
.menu-site{
    border-bottom: #ccc thin solid;
}
.menu-box .main-menu>li{
    display: inline-block;
    float: left;
}
.menu-box .main-menu>li>a{
    display: block;
    padding: 5px 15px;
    font-size: 16px;
    color: #0F2D46;
    /* font-weight: bold; */
    text-transform: uppercase;
}
.menu-box .main-menu li{
    position: relative;
    margin-top: 1px;
    border-right: 1px solid;
}
.menu-box .main-menu li a:hover{
    color: white;
}
.menu-box .main-menu li:hover {
    
    background-image: linear-gradient(#102F49, #2a689a, #102F49);
}
.menu-box .main-menu>li.menu-item-has-children>a>i{
    display: inline-block;
    margin-left: 7px;
}
.main-menu .sub-menu{
    display: none;
}
.main-menu .sub-menu li a{
    display: block;
    padding: 7px 15px;
}
.main-menu .sub-menu li{
    border-top: 1px solid;
}
.main-menu .sub-menu li:first-child{
    border: none;
}
.main-menu .sub-menu li.menu-item-has-children>a>i{
    display: inline-block;
    float: right;
}
.main-menu .sub-menu li:hover>a,.main-menu .sub-menu li.current-menu-item>a{
    background-image: linear-gradient(#102F49, #2a689a, #102F49);
    color: #fff;
}

@media screen and (min-width: 992px) {
    .menu-box .main-menu li:hover>a,.menu-box .main-menu li.current-menu-item>a{
        color: white;
    }
    .main-menu li.menu-item-has-children:hover>.sub-menu{
        display: block;
    }
    .menu-box .main-menu .sub-menu{
        position: absolute;
        width: 230px;
        z-index: 99;
    }
    .menu-box .main-menu .sub-menu{
        background-color: #fff;
        border: 1px solid #12416A;
    }
    .main-menu>li>.sub-menu{
        top:100%;
        left:0;
    }
    .main-menu .sub-menu .sub-menu{
        top:-1px;
        left:100%;
    }

}
@media screen and (max-width: 991px) {
    .menu-site{
        background-color: #eee;
    }
    .menu-box{
        position: fixed;
        left:0;
        top:0;
        right:0;
        width: 0;
        height:100vh;
        z-index: 999;
        transition: all 0.3s;
        overflow: hidden;
    }
    .menu-box .bg-menu{
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height:100%;
        background-color: rgba(0,0,0,0.7);
        z-index: 98;
    }
    .menu-box .main-menu{
        position: relative;
        z-index: 99;
        width: 250px;
        max-width: 95%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        float: left;
        background-color: #fff;
    }
    .menu-box .btn-hide-menu{
        position: relative;
        z-index: 99;
        color: #fff;
    }
    .menu-box .main-menu>li{
        display: block;
        width: 100%;
        border-bottom: #ccc thin solid;
    }
    .menu-box .main-menu>li>span{
        display: none;
    }
    .menu-box .main-menu>li>a{
        padding: 7px 10px;
    }
    .main-menu li:hover>a,.main-menu li.current-menu-item>a{
        background-image: linear-gradient(#102F49, #2a689a, #102F49);
        color: #fff;
    }
    .main-menu>li.menu-item-has-children>a>i{
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .main-menu .sub-menu{
        border-top: #ccc thin dotted;
        padding-left: 10px;
    }
    .main-menu li.menu-item-has-children>a{
        position: relative;
        padding-right: 40px;
    }
    .main-menu li.menu-item-has-children>a>i{
        position: absolute;
        display: inline-block;
        padding: 10px 12px;
        top:0;
        right:0;
        margin: 0 !important;
    }
}
/* cÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢y thÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â° mÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥c */
.thumuc{
    color: red;
    padding: 50px 0;
}
.thumuc ul li{
    padding: 5px 0;
    font-size: 12px;
    position: relative;
    padding-left: 28px;
}
.thumuc ul li:before{
    content: '';
    border-top: 1px solid red;
    width: 25px;
    position: absolute;
    top: 12px;
    left: 0;


}
.thumuc ul{
    position: relative;
    overflow: hidden;
}
.thumuc ul li:after{
    content: '';
    width: 1px;
    height: 100%;
    border-left: 1px solid red;
    position: absolute;
    left: 0px;
    bottom: 100%;
    margin-bottom: -12px;
}
.thumuc ul .treeview-item>a:after{
    content: '\f196';
    position: absolute;
    top: 3px;
    left: 6px;
    z-index: 999;
    font-size: 14px;
    color: #000;
    background-color: #fff;
}
.thumuc ul li a{
    color: red;
}

.header-top{
    background-image: url('imgs/bg-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0f2d46;
    height: 157px;
}
.hd-1 {
    height: 90px;
    
}
.text-header{
        font-size: 18px;
    color: white;
    font-family: Roboto;
    margin-top: 50px;
}

.icon-facebook
{
    margin-left: 10px;
}
.logo {
    margin-top: 27px;
}
.menu-site{
    background-color: white;
}
.slide-bds, .slide-bds2{
    position: relative;
}
.slide2 button.owl-next {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(50%, -50%);
}
.slide2 button.owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
}

button.owl-prev {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(50%, -50%);
}
button.owl-next {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(50%, -50%);
}
button.owl-next span{
    background-image: url(imgs/s-next.png);
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
    width: 50px;
    height: 50px;
}
button.owl-prev span{
    background-image: url(imgs/s-pev.png);
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
    width: 50px;
    height: 50px;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: #869791 !important;
    color: #869791 !important;
}
.owl-theme .owl-nav [class*=owl-]{
    border-radius: 50% !important;
}
/* ----------- */
.seach h2.title {
    text-transform: uppercase;
    color: #102f49;
}
.jumbotron{
    background-color: #345d97;
    color: white;
    margin-bottom: 0px !important;
}

@media screen and (min-width: 768px)
{
    .jumbotron
    {
        padding-top: 25px;
        padding-bottom: 25px;
    }

}

.title-tim{
    font-size: 14px;
    margin-top: 10px;
}
.btn-seach{
    background-image: linear-gradient(#102F49, #2a689a, #102F49);
    padding: 5px 25px;
}
.btn-seach i.fa.fa-search {
    font-size: 18px;
    padding-right: 2px;
}
.seach .form-control {
    border-radius: 0px;
}
.seach {
    border-bottom: 1px solid #1C4669;
    /* padding-bottom: 35px; */
}
.main-content{
    padding-top: 15px;
}
.bd-fix{
        width: 250px;
    float: left;
    padding: 0px 15px;
}
.l-fix {
    color: #102f49;
    font-size: 17px;
    text-transform: capitalize;
    line-height: 36px;
    float: left;
}
.r-fix {
    color: #102f49;
    font-size: 17px;
    text-transform: capitalize;
    line-height: 36px;
    float: right;
}
.main-content .table>thead>tr>th {
    background-color: #1C4669;
    color: white;
    border-right: 1px solid;
    padding: 10px 15px;
}
.main-content .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    font-size: 14px;
    font-family: tahoma;
}

div#popup_275018 {
    position: absolute;
    top: 55%;
}

div#popup_275515 {
    /* position: absolute; */
    /* top: 12%; */
}
.main-content .table>tbody>tr>td{
    border-bottom: 1px solid #999;
}
a.ico{
    margin-left: 5px;
}
.mota {
    font-size: 12px;
    margin-top: -8px;
}
.input-number {
    text-align: center;

    width: 38px;
    height: 38px;
    border: 2px solid #cccc;
}
.number-1{
        display: flex;
    justify-content: center;
    align-items: center;
}
.number-1 .number-minus, .number-1 .number-plus{
    font-size: 50px;
    color: #1C4669;
    margin-left: 5px;
    margin-right: 5px;
}
.footer{
    background-color: #0F2D46;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fdc689;
}
.footer ul>li>a{
    color: #fdc689;
}
.footer ul>li>a:hover{
    color: #ea983c;
}
.t-f{
    color: white;
    font-size: 19px;
}
h1.title {
    font-size: 26px;
    color: #0f2d46;
}
.content {
    font-family: tahoma;
    line-height: 26px;
    margin-top: 35px;
    font-size: 14px;
}
.box{
    border: 1px solid #ccc;
    border-radius: 14px;
    padding-bottom: 10px;
    margin-bottom: 35px;
    
}
p.box-title{
    
    display: block;
    padding: 8px 23px;
    margin-top: 0px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(#102F49, #2a689a, #102F49);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 17px;
}
.b-v{
    padding: 0px 15px;
    color: #0f2d46;
}
.b-v input.form-control {
    margin-bottom: 15px;
    border-radius: unset;
}
.b-bnt{
        background-image: url(imgs/bg-log.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    border: none;
    color: white;
    font-size: 17px;
    /* margin: 0px; */
    padding: 2px 17px;
    margin-bottom: 6px;
}
.b-bnt:hover{
    color: #00BCD4;

}
.b-b {
    display: grid;
    align-items: center;
    justify-content: center;
}
.red{
    color: red;
}
p.phone {
    font-weight: bold;
    color: #0f2d46;
}
p.phone i.fa.fa-phone-square{
    margin-right: 5px;
        font-size: 15px;
}
.b-v img {
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;

}
.chi {
    background-image: url(imgs/chi.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 10px;
}
.cam{
    color: #fff799;
}
.sale{
    background-image: url('imgs/anh.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: relative;
}
.text-mau2{
    position: absolute;
    top: 150px;
    left: 25px;
    font-size: 30px;
    line-height: 44px;
}
.text-mau3{
    position: absolute;
    top: 290px;
    left: 25px;
    font-size: 30px;
    line-height: 44px;
}
.bui1 {
    position: absolute;
    top: 329px;
    right: 181px;
    font-size: 44px;
    line-height: 44px;
}
.bui2{
    position: absolute;
    top: 140px;
    right: 0px;
    font-size: 130px;
    line-height: 44px;
    font-weight: bold;
}

.bui3 {
    position: absolute;
    top: 475px;
    right: 160px;
    font-size: 43px;
    line-height: 44px;
}
.giacu {
    position: absolute;
    top: 0px;
    left: 150px;
    text-decoration: line-through;
}
.btn-dk{
    position: absolute;
    top: 560px;
    right: 25px;
    font-size: 23px;
    line-height: 44px;
    background-image: linear-gradient(#102F49, #2a689a, #102F49);
    color: white;
    font-weight: bold;
    border-radius: 11px;
    box-shadow: 1px 2px 10px 7px;
}
.btn-dk:hover{
    color: #79b5e6;
}


.text-mau {
        background-color: white;
    width: 100%;
    color: #777571;
    height: 100%;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    box-shadow: 0px 6px 22px 24px #ffffff;
}
.popup .modal-header {
    /* background-color: red; */
    /* border-radius: 5px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: linear-gradient(#102F49, #2a689a, #102F49);
    color: white;
    text-transform: uppercase;
}
.popup .modal-content {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.modal-content {
    margin-top: 10%;
}
.popup .modal-title{
    line-height: 1;
    font-weight: bold;
}
.popup h3.title {
    font-size: 18px;
}
.popup{
    font-family: tahoma;
    color: #0f2d46;
}

.modal-content {
    position: absolute;
    /* bottom: 31px; */
    /* z-index: 9999999999999999999; */
}

.modal-content {
    /* margin-top: -38px; */
    position: absolute;
}

.modal-content {
    position: fixed;
    width: 100%;
}

div#popup_275047 {
    position: absolute;
    top: 60%;
}

div#popup_275413 {
    position: absolute;
    top: 50%;
}

.modal-content {
    position: fixed;
    width: 100%;
    height: auto;
}

.modal-content {
    position: absolute;
    top: 12%;
    left: 0;
    z-index: 2;
    transition: 0.4s;
    transform: scale(0.3);
}

.modal-content {
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    transform: scale(0);
}

.modal-content.modal-content-them {
    width: 100%;
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
    transform: scale(1);
}

.modal-content {
    width: 100%;
    margin: 0;
    padding: 0;
}

.modal-content.modal-content-them {}

.modal-content.modal-content-them {}

.modal-content.modal-content-them {
    margin: 0;
    padding: 0;
}

.modal-content.modal-content-them {}
.s-title{
    font-weight: bold;
    display: inline-block;
}
.bui-pop {
    padding-top: 22px;
    margin-bottom: 35px;
}




















/* fix mobile */
/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .text-mau2 {
        position: absolute;
        top: 150px;
        left: 25px;
        font-size: 22px;
        line-height: 44px;
    }
    .text-mau3 {
        position: absolute;
        top: 290px;
        left: 25px;
        font-size: 20px;
        line-height: 44px;
    }
    }
@media (min-width: 576px) {
   
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .l-fix {
    color: #102f49;
    font-size: 12px;
    text-transform: capitalize;
    line-height: 32px;
    float: left;
    }
    .r-fix {
    color: #102f49;
    font-size: 12px;
    text-transform: capitalize;
    line-height: 32px;
    float: left;
    }
   

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .bd-fix{
        float: none;
        width: 100%;
    }
    .l-fix {
    color: #102f49;
    font-size: 15px;
    text-transform: capitalize;
    line-height: 18px;
    float: left;
    }
    .r-fix {
    color: #102f49;
    font-size: 15px;
    text-transform: capitalize;
    line-height: 18px;
    float: left;
    }
    .main-menu .sub-menu li a{
        color: white;
    }
    .bui2 {
    position: absolute;
    top: 410px;
    right: 0px;
    font-size: 100px;
    line-height: 44px;
    font-weight: bold;
    }
    .bui3{
        right: 136px;
    }
    .bui1{
        right: 140px;
    }
    .popup .modal-title {
    line-height: 1;
    font-size: 15px;
    }
    .popup h3.title {
    font-size: 21px;
    }

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .text-header{
        font-size: 15px;
        color: white;
        font-family: Roboto;
        margin-top: 8px;
    }
    .header-top{
        height: 125px;
    }
    button.owl-prev {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(50%, -50%);
    }
    button.owl-next {
        position: absolute;
        top: 50%;
        right: 15%;
        transform: translate(50%, -50%);
    }
    button.owl-next span{
        background-image: url(imgs/s-next.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        width: 30px;
        height: 30px;
        color: white;
    }
    button.owl-prev span{
        background-image: url(imgs/s-pev.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        width: 30px;
        height: 30px;
        color: white;
    }
    .r-fix{
        float: left;
    }
    .main-menu .sub-menu li a{
        color: white;
    }
    
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .seach .jumbotron{
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .menu-site{
        height: 35px;
        overflow: hidden;
    }
    p.box-title{
        font-size: 13px;
    }
}


.read
{
    color: #337ab7;
}
.container .jumbotron{
    padding: 15px  15px !important;
}
/* // Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */
/* kkkkk */


.fancybox-lock .fancybox-overlay{
    background-color: rgba(0,0,0,0.8);
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span{
    background-image: url("imgs/fancybox_sprite.png");
}
.fancybox-prev span{
    left: -10px;
}
.fancybox-next span{
    right: -10px;
}


:root{
  --line-height: 1.4em;
  --bg-color: #fff;
}

.modal-backdrop.fade.in {
    /* position: absolute; */
}

.multi-Line{
  overflow: hidden;
  position: relative;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;  
  line-height: var(--line-height);
}

.one-line {
  max-height: calc(var(--line-height) * 1); 
}


.multi-Line:before {
    
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}
.multi-Line:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: var(--bg-color);
}
.show-mobile.hidden-lg.hidden-md td {
    /* padding-left: 13px; */
}

td.number-stt {
    width: 8%;
}

td.number-show-mobile {
    /* float: left; */
    padding-left: 2px;
}

td {
    padding-left: 10px;
    /* text-align: center; */
}

td.title-show-mobile {
    padding-left: 20px;
}

td {
    border: 1px solid #cccc;
}

td {
    border-bottom: 1px solid #1C4669;
}
.show-mobile .item-mobile{
    background: #345d97;
    font-size: 16px;
    color: white;
}
.number-stt{
    font-size: 16px;
}
input#subscribeNews {
    margin-left: 0px;
    padding-right: -29px;
    margin-right: 10px;
}
.detail.text-content {
    width: 558px;
    /* height: 130px; */
    /* overflow-y: scroll; */
}

.detail.text-content {
    width: 329px;
}
.item-vip{
    width: 560px;
    height: 100px;
    overflow-y: scroll;
}
.nen {
    opacity: 0;
    background: #1b1818ba;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 664%;
    z-index: 1;
    visibility: hidden;
    transition: 0.4s;
    transform: scale(0);
}