img{
	max-width: 100%;
	height: auto;
}
.header .logo{
	display: inline-block;
	margin-top: 5px;
}
.header .logo img{
	height: 50px;
}
.center-sign .logo img{
	height: 50px;
}
.mt-xl{
	margin-top: 5px !important;
}
.body-sign .panel-sign .panel-title-sign .title{
	background-color: #0F2D46;
}
.body-sign .panel-sign .panel-body{
	border-top-color: #0F2D46;
}
.btn-custom{
    background-color: #0F2D46;
    color: #fff;
    border: #0F2D46 thin solid;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-custom:hover{
	background-color: #bc3731;
	color: #fff;
	border-color: #bc3731;
}
.table-action{
	background: none !important;
}
.table-action a{
	display: inline-block;
	padding: 0 5px;
	font-size: 18px;
}
.add-new{
	margin: 10px 0;
}
.img-td{
	width: 120px !important;
}
.auto-height{
	height: auto;
}
#mymap{
	height: 400px;
}
.userbox.open .dropdown-menu{
	min-width: unset;
}
.list-menu .dd-item .menu-actions{
	position: absolute !important;
	top: 7px !important;
	right: 10px !important;
}
.list-menu .dd-item .menu-actions a+a{
	margin-left: 5px;
}
.has-thumb{
	width: 95px;
}
.del_btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 10px;
	padding: 0 !important;
}
table a+a{
	display: inline-block;
	margin-left: 5px;
}
.list-partner-box{
	padding-bottom: 15px;
}
.box-img{
	position: relative;
}
.box-img img{
	width: 100%;
}
.box-img .remove-partner{
	position: absolute;
	right: 0;
	top: 0;
}

.change_ftp i{
	display: block;
}

img.loading_post
{
    
    width: 30px !important;
    margin: 0 auto;
    display: inline-block;
    display: none;
}


.feature_dn
{
	vertical-align: middle !important;
}

.change_ftp .fa-star, .feature_dn .fa-star
{
	color: #ccc;
	font-size: 20px;
	cursor: pointer;
}
.change_ftp .fa-star.checked, .feature_dn .fa-star.checked
{
	color: #ffc923;
}
.input-box.box-img-admin input{
	padding-right: 50px !important;
}
.datepicker.dropdown-menu
{
	z-index: 999999999999;
}