@media screen and (min-width: 1200px){
    .col-lg-3:nth-child(4n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-6:nth-child(2n+1){
        clear: both;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .col-md-3:nth-child(4n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-6:nth-child(2n+1){
        clear: both;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .col-sm-3:nth-child(4n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-6:nth-child(2n+1){
        clear: both;
    }
}
@media screen and (max-width: 768px){
    .col-xs-3:nth-child(4n+1),
    .col-xs-4:nth-child(3n+1),
    .col-xs-6:nth-child(2n+1){
        clear: both;
    }
}