
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none !important;
}
html {
  scroll-behavior: smooth;
}
body{
    font-family: 'Roboto',FontAwesome, sans-serif;
    font-size: 14px;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    color: #333;
    transition: all 0.3s;
}
a,a:hover{
    text-decoration: none;
}
a:hover{
    color: #a02b26;
}
ul{
    margin: 0;
    list-style: none;
}
.btn{
    background-color: #a02b26;
    color: #fff;
    border-color: #a02b26;
}
.btn:hover{
    color: #a02b26;
    background-color: #fff;
}
.btn:visited,
.btn:focus{
    color: #fff;
}
.container{
    max-width: 1400px;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}
iframe{
    width: 100%;
}
#toTop{
    position: fixed;
    bottom: 5px;
    right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
@media screen and (max-width: 767px){
    body{
        overflow: hidden;
    }
    #toTop{
        bottom: 50px;
    }
}

/* ============================== Menu =============================== */
.menu-site{
    background: #a02b26;
}
.menu-box .main-menu>li{
    display: inline-block;
    float: left;
}
.menu-box .main-menu>li>a{
    display: block;
    padding: 8px 12px;
    font-size: 15px;
}
.menu-box .main-menu li{
    position: relative;
}
.menu-box .main-menu>li.menu-item-has-children>a>i{
    display: inline-block;
    margin-left: 7px;
}
.main-menu .sub-menu{
    display: none;
}
.main-menu .sub-menu li a{
    display: block;
    padding: 7px 15px;
}
.main-menu .sub-menu li{
    border-top: #ccc thin dotted;
}
.main-menu .sub-menu li:first-child{
    border: none;
}
.main-menu .sub-menu li.menu-item-has-children>a>i{
    display: inline-block;
    float: right;
}
.main-menu .sub-menu li:hover>a,.main-menu .sub-menu li.current-menu-item>a{
    background: #a02b26 !important;
    color: #fff !important;
}
.see-more-link{
    display: inline-block;
    margin-top: 10px;
    border: transparent thin solid;
    background: #a02b26;
    color: #fff;
    padding: 7px 10px;
}
.see-more-link:hover{
    background: #fff;
    color: #a02b26;
    border-color: #a02b26;
}
.item-cate-content .item-business>.row{
    margin-left: -5px;
    margin-right: -5px;
}
.item-cate-content .item-business>.row>.item-col{
    padding: 0 5px;
}

@media screen and (min-width: 992px) {
    .menu-box .main-menu>li>a{
        color: #fff;
    }
    .main-menu>li+li{
        border-left: #a02b26 thin solid;
    }
    .menu-box .main-menu li:hover>a,.menu-box .main-menu li.current-menu-item>a{
        color: #a02b26;
        background: #FCF8C0;
    }
    .main-menu li.menu-item-has-children:hover>.sub-menu{
        display: block;
    }
    .menu-box .main-menu .sub-menu{
        position: absolute;
        width: 230px;
        z-index: 99;
    }
    .menu-box .main-menu .sub-menu{
        background-color: #fff;
        border: #ccc thin solid;
    }
    .main-menu>li>.sub-menu{
        top:100%;
        left:0;
    }
    .main-menu .sub-menu .sub-menu{
        top:-1px;
        left:100%;
    }
}
@media screen and (max-width: 991px) {
    .btn-show-menu{
        color: #fff !important;
    }
    .menu-box{
        position: fixed;
        left:0;
        top:0;
        right:0;
        width: 0;
        height:100vh;
        z-index: 999;
        transition: all 0.3s;
        overflow: hidden;
    }
    .menu-box .bg-menu{
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height:100%;
        background-color: rgba(0,0,0,0.7);
        z-index: 98;
    }
    .menu-box .main-menu{
        position: relative;
        z-index: 99;
        width: 250px;
        max-width: 95%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        float: left;
        background-color: #fff;
    }
    .menu-box .btn-hide-menu{
        position: relative;
        z-index: 99;
        color: #fff;
        border-radius: 0;
        background: none;
        border: #fff thin solid;
    }
    .menu-box .main-menu>li{
        display: block;
        width: 100%;
        border-bottom: #ccc thin solid;
    }
  .form-group .form-control {
    font-size: 12px;
    height: 30px;
}
    .menu-box .main-menu>li>span{
        display: none;
    }
    .menu-box .main-menu>li>a{
        padding: 7px 10px;
    }
    .main-menu li:hover>a,.main-menu li.current-menu-item>a{
        background-color: #a02b26;
        color: #fff;
    }
    .main-menu .sub-menu>li.menu-item-has-children>a>i{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .main-menu .sub-menu{
        border-top: #ccc thin dotted;
        padding-left: 10px;
    }
    .main-menu li.menu-item-has-children>a{
        position: relative;
        padding-right: 40px;
    }
    .main-menu li.menu-item-has-children>a>i{
        position: absolute;
        display: inline-block;
        padding: 10px 12px;
        top:0;
        right:0;
        margin: 0 !important;
    }
}

.top-bar ul{
    padding-bottom: 5px;
}
.top-bar ul li{
    display: inline-block;
}
.top-bar .left-top-bar li+li{
    margin-left: 5px;
    padding-left: 7px;
    border-left: #a02b26 thin solid;
}

.top-menu{
    padding: 5px 0;
}
.top-menu .sub-logo img{
    display: inline-block;
    max-height: 85px;
    display: inline-block;
    margin:  0 5px;
}
.logo img{
    max-height: 85px;
}
.header-title{
    margin: 0;
    color: #a02b26;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.header-title a{
    color: #a02b26;
}
.form-subscribe {
    position: relative;
    margin-top: 7px;
}
.form-subscribe .btn {
    background-color: #a02b26 !important;
    color: #fff !important;
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    border-radius: 0px;
    outline: none;
    border: 1px solid #efefef;
}
.site-user{
    text-align: right;
}
.search-box{
    background-color: #f7f7f7;
    padding: 15px 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.search-box form{
    position: relative;
}
.search-box form .btn{
    width: 100%;
    text-align: center;
}
.search-box .form-control{
    border: 1px solid #aaa;
    box-shadow: none !important;
}
.search-box .inputsearch2{
    display: none;
}
.search-box .tab-search-content{
    padding: 0 10px;
    background: #fff;
    border: #ddd thin solid;
    margin-top: -1px;
}
.tab-search .row{
    margin-left: -7px;
    margin-right: -7px;
}
.tab-search .row .col-xs-12{
    padding-left: 7px;
    padding-right: 7px;
}

.search-tab{
    overflow: hidden;
}
.search-tab li{
    display: inline-block;
    padding-bottom: 1px;
    border: #ddd thin solid;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    overflow: hidden;
    float: left;
    margin-right: 2px;
    margin-bottom: -1px;
}
.search-tab li a{
    display: block;
    padding: 8px 15px;
}
.search-tab li.active a{
    background: #fff;
    color: #a02b26;
    pointer-events: none;
}
.search-tab li a:focus,
.search-tab li a:visited{
    text-decoration: none;
}
.tab-search{
    display: none;
}
.tab-search.active{
    display: block;
}

.item-search{
    position: relative;
}
.item-search .form-control,
.item-search .select2-selection{
    padding-left: 35px;
}
.item-search>i{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    left: 20px;
    z-index: 9;
    font-size: 16px;
    color: #8c8c8c;
}
.slide-ads{
    position: relative;
}
.slide-ads .owl-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.basic-div{
    padding: 15px 0;
}
.panel-heading{
    padding-bottom: 0;
}
.nav-tabs {
    border: none;
}
.partner-slide .item img{
    width: auto;
    display: inline-block;
    /*height: 70px;*/
}
.partner-slide .item{
    text-align: center;
}
.partner-slide{
    position: relative;
    margin: 25px 0;
}
.partner-slide .owl-prev,
.partner-slide .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #a02b26 !important;
    font-size: 30px !important;
    background: none !important;
    margin: 0 !important;
    padding: 10px 5px;
}
.partner-slide .owl-prev{
    left: 0;
}
.partner-slide .owl-next{
    right: 0;
}
.item-col{
    margin: 10px 0;
}
footer{
    background-color: #a02b26;
    color: #fff;
}
footer a{
    color: #fff;
}
footer .main-footer{
    padding: 20px 0;
}
.main-footer ul{
    margin-bottom:10px;
}
.copyright{
    padding: 20px 0;
    border-top: #fff thin solid;
}
.list-place{
    display: none;
}
.visible{
    display: block !important;
}
.tab-pane{
    position: relative;
}
.on-directions{
    position: absolute;
    top: 10px;
    right: 60px;
}
.on-directions select{
    height: 40px;
}
.main-map canvas{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#img-area-map{
    position: absolute;
}
#content-area-map{
    border: dotted 0px #0F0; 
    position: relative; 
    padding: 0px;
    -moz-user-select: none;
}
.area-canvas{
    border: 0px solid rgb(0, 153, 102); 
    position: absolute; 
    opacity: 1;
}
#qnMap{
    border: solid 0px #30F; 
    -moz-user-select: none; 
    opacity: 0;
}
.content-onhover-map .item-content{
    display: none;
}

#map_inner>div:not(#tt_sm_map){
    position: absolute;
    z-index: -9999 !important;
    opacity: 0;
}
.list-item-last .item-new{
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 20px;
    padding: 10px;
}
.item-new .item-new-title{
    font-size: 16px;
    line-height: 20px;
    min-height: 40px;
    margin: 0;
}
.item-new .item-new-meta{
    color: #8c8c8c;
    padding: 7px 0;
}
.read-more{
    color: #8c8c8c;
    text-decoration: underline;
}
.featured-title {
    margin-bottom: 20px;
    font-size: 26px;
}
.featured-title span{
    display: inline-block;
    padding-bottom: 7px;
    border-bottom: #a02b26 4px solid;
}
.slide-blog{
    position: relative;
}
.slide-blog .owl-prev,.slide-blog .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    font-size: 24px !important;
    background-color: rgba(0,0,0,0.5) !important;
    margin: 0 !important;
}
.slide-blog .owl-prev{
    left: -30px;
}
.slide-blog .owl-next{
    right: -30px;
}
.slide-blog .item-new-img{
    padding: 1px;
}
.slide-blog .item-new-img a{
    height: 200px;
    display: flex;
    align-items: center;
    border: #ccc thin solid;
    padding: 5px;
}
.slide-blog .item-new-img img{
    width: auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.info-province .item-info-province:not(.item-default){
    display: none;
}
.field-search{
    border-bottom: #ccc thin solid;
    padding-bottom: 10px;
}
.search-result .list-result-title{
    background: #a02b26;
    padding: 10px;
    color: #fff;
    margin: 0;
}
.search-result .list-place{
    border: #a02b26 thin solid;
}
.search-result .list-place .info-place{
    padding: 5px 10px;
    cursor: pointer;
}
.search-result .list-place>.item-place:hover{
    background: #f5f5f5;
}
.search-result .list-place>.item-place+.item-place{
    border-top: #a02b26 thin dotted;
}
.search-result .list-place .item-place-info ul,
.search-result .list-place .item-place-info .more-info-link{
    display: none;
}
.banner-cate {
    padding: 100px 0;
    color: #fff;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.banner-cate:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
}
.banner-cate .cate-title{
    margin: 0;
    position: relative;
    z-index: 2;
}
.cate-title{
    font-size: 30px;
    font-weight: 400;
}
.item-business,
.box-has-border{
    padding: 0 10px;
    border: #a02b26 thin solid;
}
.main-page-cate .item-business{
    border: none;
    box-shadow: 0 0 5px #ccc;
}
.box-has-border{
    padding: 10px;
}
.item-business+.item-business,
.box-has-border+.box-has-border{
    margin-top: 10px;
}
.sidebar.item-col{
    margin-top: 0;
}
.item-business .item-business-info i,
.item-sidebar i,
.business-intro i{
    width: 18px;
}
.item-business .item-business-info p{
    margin-bottom: 5px;
}

.item-sidebar .item-sidebar-title{
    background:  #a02b26;
    color: #fff;
    margin: 0;
    padding: 7px 10px;
}
.item-sidebar .item-sidebar-content{
    padding: 10px;
    background: #fff;
    border: #a02b26 thin solid;
    overflow: hidden;
}
.item-sidebar+.item-sidebar{
    margin-top: 20px;
}

.item-new-sb{
    overflow: hidden;
}
.item-new-sb .item-new-sb-img{
    width: 70px;
    float: left;
    margin-right: 10px;
}
.item-new-sb .item-new-sb-info{
    padding-left: 80px;
}
.item-new-sb .item-new-sb-title{
    font-size: 15px;
    margin-bottom: 5px;
}
.item-new-sb small{
    color: #8c8c8c;
}
.item-new-sb+.item-new-sb{
    margin-top: 10px;
    padding-top: 10px;
    border-top: #ccc thin dotted;
}
.navigation a{
    display: inline-block;
    border: #a02b26 thin solid;
    padding: 5px 10px;
    min-width: 35px;
    text-align: center;
}
.navigation{
    margin-top: 30px;
    text-align: center;
}
.navigation a:hover,
.navigation a.active{
    color: #fff;
    background: #a02b26;
}
.navigation a.active{
    pointer-events: none;
}

.business-intro{
    padding: 0 10px;
}
.com-profile table{
}
.com-profile table td{
    padding: 2px 0;
}
.com-profile table td:last-child{
    padding-left: 25px;
}
.contact-page .company-name{
    font-size: 26px
}
.contact-info i{
    width: 18px;
    position: absolute;
    left: 0;
    top: 3px;
}
.contact-info p{
    padding-left: 20px;
    position: relative
}
.new-content{
    padding-top: 15px;
    border-top: #ccc thin solid;
}
.new-meta{
    margin-bottom: 10px;
    color: #8c8c8c;
    overflow: hidden;
}
.item-group img{
    margin-bottom: 5px;
    border-radius: 4px;
    width: 100%;
}
.item-group .item-group-title{
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}
.item-group .item-group-title a{
    display: block;
    background: #a02b26;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    border:  transparent thin solid;
}
.item-group .item-group-title a:hover{
    background: #fff;
    color: #a02b26;
    border-color: #a02b26;
}

.item-cate+.item-cate{
    margin-top: 15px;
}
.item-cate .item-cate-title{
    font-size: 22px;
    padding-bottom: 5px;
    border-bottom: #a02b26 4px solid;
}
.item-cate-content .item-new .item-new-title{
    min-height: unset;
    margin-top: 7px;
    font-size: 14px;
}
.item-cate-content .item-new .item-new-meta{
    padding: 5px 0;
}
.list-right .item-new+.item-new{
    margin-top: 7px;
}
.list-right .item-new{
    border-bottom: #ccc thin dotted;
}
.list-right .item-new-info{
    padding:0;
}
.item-place{
    overflow: hidden;
}
.item-place .item-place-img{
    width: 70px;
    float: left;
}
.item-place .item-place-info{
    padding-left: 80px;
}
.item-place i{
    width: 18px;
}
.item-place .more-info-link{
    margin-top: 5px;
}
.item-place .more-info-link a{
    text-decoration: underline;
    font-style: italic;
    display: inline-block;
    padding: 2px 5px;
}
.direction{
    display: inline-block;
    padding: 2px 5px;
    text-decoration: none;
    font-style: normal;
    color: #fff !important;
    background-color: #a02b26;
}
.item-place-name{
    font-size: 16px;
}
.gm-style .item-place-img img {
    max-width: 100%;
}

.select2-container--default .select2-selection--single{
    height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 34px;
}
.item-form{
    margin: 10px 0;
    overflow: hidden;
}
.rate-star a,
.rate-star span{
    color: #8c8c8c;
    font-style: italic;
}
.box-title{
    display: inline-block;
    margin: 0;
    background-color: #f5f5f5;
    color:  #a02b26;
    padding: 7px 15px;
    border: #a02b26 thin solid;
    border-bottom: none;
}
.basic-content{
    margin-top: -1px;
}
.reviewer-info span{
    display: inline-block;
    margin-left: 10px;
}
.rate-form{
    display: none;
    padding-top: 10px;
}
.num-rate i{
    cursor: pointer;
    font-size: 16px;
}
.list-reviews li{
    border-bottom: #ccc thin dotted;
    margin-bottom: 10px;
}
.show-rate-form{
    padding: 10px 20px;
    border-radius: 0;
    margin: 15px 0;
}
.gm-style .hide-on-map{
    display: none;
}
.slide-sb-career{
    overflow: hidden;
}
.bot-social{
    padding-top: 5px;
}
.bot-social a{
    display: inline-block;
    padding: 2px 5px;
    border-radius: 3px;
    color: #fff;
    border: #fff thin solid;
    width: 28px;
    text-align: center;
}
.bot-social a:hover{
    background-color: #fff;
    color: #a02b26;
}
.top-bar .has-subbox{
    position: relative;
}
.top-bar .has-subbox .subbox{
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 3px;
    border: #ccc thin solid;
    text-align: left;
    background: #fff;
    display: none;
}
.top-bar .has-subbox .subbox li a{
    display: block;
    padding: 6px 10px;
    min-width: 100px;
    text-decoration: none !important;
}
.slide-sb-career .item *{
    max-height: 100%;
}
.lSSlideOuter.vertical{
    overflow: hidden;
}
.top-new{
    margin-bottom: 15px;
    border-bottom: #ccc thin solid;
}
.top-page .bread-crumb{
    border-bottom: #ccc thin solid;
}
.bread-crumb{
    padding: 10px 0;
}
.bread-crumb li{
    display: inline-block;
}
.bread-crumb li+li{
    margin-left: 10px;
}
.bread-crumb li+li:before{
    content: "\f101";
    display: inline-block;
    margin-right: 7px;
}
.search-title{
    padding-top: 20px;
}
.search-title .cate-title{
    font-size: 22px;
}

.hl-profile-wrapper{
    max-width: 600px;
    margin: 30px auto;
}
.hl-profile-img{
    padding-top: 15px;
    width: 100%;
    overflow: hidden;
}
.hl-profile input{
    width: 100%;
    height: 30px;
    padding: 5px 10px;
}
.hl-profile-btn{
    text-align: center;
    margin: 10px 0;
}
.hl-profile-save{
    text-align: center;
    margin: 20px 0;
}
.hl-profile-btn button,
.hl-profile-save button{
    padding: 5px 20px;
    background: #a02b26;
    color: #fff;
    border: none;
}

label{
    padding: 10px 0;
}
.modal-basic{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: none;
}
.modal-basic .bg-modal{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
}
.modal-basic .bs-modal-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    z-index: 2;
    background-color: #fff;
    width: 600px;
    max-width: 95%;
    max-height: 95%;
    overflow-x: hidden;
    overflow-y: auto; 
    padding: 15px;
}
.modal-basic .close-md{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    color: #fff;
    border: none;
    background-color: rgba(255,255,255,0.3);
    font-size: 34px;
    padding: 0 10px;
}
.modal-basic.sign-form .bs-modal-content{
    width: 450px;
}
form #mymap{
    height: 300px;
}
.link-small {
    margin-top: 5px;
}
.link-small a{
    text-decoration: underline;
}
#datatable-default_length select,
#datatable-default_filter input{
    padding: 5px 10px;
    border: #ccc thin solid;
    border-radius: 4px;
}
.form-edit-user .input-box{
    margin-top: 10px;
}
.slide-blog .item-new-title{
    margin-top: 10px;
}
.list-no-col .item-new .item-new-title{
    min-height: unset;
}
.select2-container{
    width: 100% !important;
}
.search-result .item-place-img .direction{
    display: none;
}
.search-result .item-place-name{
    font-size: 15px;
}
.search-result .item-place-name,
.search-result p{
    margin-bottom: 5px;
}
.form-edit-user .input-box button{
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.list-bussiness.cate-page>.row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.list-bussiness.cate-page .item-business{
    height: 100%;
}
.item-pro-name{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}
.box-checkbox label{
    padding: 0;
    font-weight: normal;
    margin-left: 5px;
}
table a{
    color: #0088cc;
}
.list-business-tb td:first-child{
    max-width: 80px;
}

.list-business-provide{
    position: relative;
}
.list-business-provide .item-pro-thumb{
    height: 150px;
    display: flex;
    align-items: center;
    border: #ccc thin solid;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
}
.list-business-provide .item-pro-thumb a{
    display: block;
    margin: 0 auto;
}
.list-business-provide .item-pro-thumb img{
    max-height: 100%;
    width: auto;
}
.list-business-provide .item-pro-name{
    font-weight: normal;
}
.list-business-provide .owl-prev,
.list-business-provide .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: 0;
    background-color: rgba(0,0,0,0.7) !important;
}
.list-business-provide .owl-prev{
    left: -15px;
}
.list-business-provide .owl-next{
    right: -15px;
}
.sharethis{
    float: right;
}
#at4-share{
    display: none;
}
.at-resp-share-element .at-share-btn{
    margin-bottom: 0 !important;
}

.total-access{
    margin-top: 10px;
}
.total-access span{
    display: inline-block;
    margin-right: 15px;
}
.openmap{
    color: #0099e6;
    text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .banner-cate{
        padding: 70px 0;
    }

}
@media screen and (min-width: 768px){
    .top-menu .row{
        display: flex;
        align-items: center;
    }
    #mymap{
        height: 500px;
    }
    .search-page #mymap{
        height: 600px;
    }
    .gm-style .gm-style-iw>div{
        max-width: 400px !important;
    }
}
@media screen and (max-width: 767px){
    .search-tab li{
        width: 100%;
        text-align: center;
        border-radius: 0;
        margin-bottom: 0;
    }

    .info-top{
        text-align: center;
    }
    .left-top-bar{
        text-align: center;
    }
    .banner-cate{
        padding: 40px 0;
    }
    .panel-body{
        padding: 0;
    }
    #mymap{
        height: 350px;
    }
    .logo{
        text-align: center;
    }
    .site-user{
        display: inline-block;
        float: right;
        padding: 6px 0;
        color: #fff;
    }
    .site-user a{
        color: #fff;
    }
    .gm-style .item-place .item-place-img{
        width: 100%;
        float: none;
        margin-bottom: 5px;
    }
    .gm-style .item-place .item-place-info{
        padding: 0;
    }
    .gm-style .gm-style-iw>div{
        max-width: 100% !important;
    }
}

.main-footer a:hover{
    color: #f1eb40;
}

.sharethis.sharedn
{
    float: none;
    text-align: center;
    margin-top: 20px;
}





@media print
{
    .owl-item img{
        width: 100% !important;
    }
    header .sub-logo,
    header .top-bar,
    header .site-user, 
    header .menu-site,
    .search-box,
    .top-new,
    .sidebar, 
    .featured-blog, 
    .partner, 
    footer, 
    .fb-comments,
    .bread-crumb,
    .rating-now.basic-div
    {
        display: none !important;
    }

    a[href]:after {
        content: none !important;
    }

    .business-intro .cate-title {
        text-align: center;
    }

    header .logo img 
    {
        width: 100%;
    }


    .owl-stage {
        width: unset !important;
        transform: unset !important;
    }

    .owl-stage .owl-item {
        width: 30% !important;
    }

    .owl-stage .owl-item:nth-child(3n+1)
    {
        clear: both;
    }

    .owl-nav {
        display: none;
    }
}
@media screen and (max-width: 767px){
  
}
.seach h2.title{
    color:red !important;
}