.fa-star{
    color: orange;
}
.input-box{
	position: relative;
}
.input-box button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 0;
}
.input-box input{
	padding-right: 100px !important;
}
.input-box input[readonly],
.datepicker[readonly]{
	background: #fff;
}
.box-checkbox{
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	border: #ccc thin solid;
	padding: 10px;
}
.thumb-on-list{
	max-width: 60px;
}
.banner-on-list{
	width: 110px;
}
.imgProduct{
	display: none;
}
.imgProduct.active{
	display: block;
}